@page
@model Ghani_Projet_ASP.NET_802.Pages.employes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Titre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Titre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.DateDeNaissance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.DateDeNaissance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.DateEmbauche)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.DateEmbauche)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Province)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.CodePostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.CodePostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Pays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Pays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Extension)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Extension)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employes.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employes.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employes.EmployeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
